

.general-wrapper {
    position:relative;
    padding:40px 0 10px;
    box-sizing:border-box;
    min-width:960px;
    background: rgba(245, 245,245, .7);
    margin:0 auto;

    
}



























