
.lang {
    list-style-type: none;
    font-size: $font-size-1;
    font-style: italic;
    margin: 0 0 0 0;
    padding: 0 15px 0 10px !important;
    
 
    &__list {
	padding: 0 0 10px 0;
	
	a{
	    color: #807c7d;
	    
	    &:hover {
		text-decoration: none;
	    }
	}
    }
}



































