
.splat-header {
    width: 100%;
    border-bottom:1px solid $color-container-border;
    height: 160px;
    background-image: url(../img/header-background.png);
    padding: 38px 0 0 0;
    
    
}















