
.srch-panel {
    clear:both;
    float:right;
    position:relative;
    bottom:48px;
   
    &__input {
	transition: all 250ms;
	width:133px;
	height: 21px;
	margin:0 10px 0 0;
	box-shadow: inset 2px 2px 4px rgba(110,110,110, .1);
	border:1px solid #EDEDED;
	

	&:focus {
	    border: 1px #FFA6A6 solid;
	    
	}

    }
    &--to-extend {
	padding-right:40px;
	}
    
    @media screen and (min-width:300px) and (max-width:966px) {
	margin-right:200px;
	
	}

   
}

















