

.arrows-right {
    cursor:pointer;
    position:absolute;
    right:0;
    top:128px;
    z-index:100;    
    color:#E4E4E4;
    
    @media (min-width:400px)and(max-width:965px) {
	
    }
}

.arrows-left {
    z-index:100;
    cursor:pointer;
    top:120px;
    color:#E4E4E4;
    position:absolute;
    
}
























