
.trouble-callback {
    display:block;
    margin:0;
    
    
    &__introduces {
	width: 260px;
	line-height:19px;
	color:#8E8E8E;
	display:block;
	font-size:15px;
	margin:0 0 0 0;
	float:right;
    }
	@media screen and (min-width:400px) and (max-width:966px) {
		position:absolute;
		top:175px;
		left:0;
	}
}

















